body
  color: #444

  #flash-messages
    position: fixed
    background: #D5E5D4
    text-align: center
    padding: 10px
    width: 100%

    &.hidden
      visibility: hidden
      opacity: 0
      transition: visibility 0s 2s, opacity 2s linear

    &.visible
      visibility: visible
      opacity: 1

  .inline-block
    display: inline-block

  a
    color: #7FB6EA

  h3
    color: #F94D1F

  header
    h1
      margin-top: 1em
      color: #F94D1F

  .hidden
    display: none

  #nav
    margin-top: 10px
    margin-bottom: 40px

    .no-pad
      padding-left: 0
      padding-right: 0

  .table-scroller
    height: 400px
    overflow: auto

    table
      td
        width: 33%
        padding: 5px 40px 5px 10px
        border: 1px solid rgb(238,238,238)

  #form-switcher
    #form-container
      padding: 20px 0

      #rq-form
        label
          width: 60px

      #pace-hr-form
        label
          width: 175px

        input[type="submit"]
          margin-left: 130px
          margin-top: 20px

      input[type="text"]
        padding: 5px

      input[type="submit"]
        margin: 15px 90px

    label
      padding-right: 40px
      padding-left: 15px

    input[type="radio"]
      width: 22px
